@font-face {
  font-family: 'Mulish';
  src: local('Mulish'), url(./fonts/Mulish-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Mulish';
    font-weight: 900;
    src: local('Mulish'), url(./fonts/Mulish-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Mulish';
    font-weight: 900;
    src: local('Mulish'), url(./fonts/Mulish-Black.ttf) format('truetype');
}
